@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
 
}

body{
    font-family: 'Roboto', sans-serif;
    
}

.container{
    display: flex;
    flex-direction: column;
    // width: 50vw;
    height: 100vh;
    align-items: center;
    background: #2D2424;
    color: #fff;

    .heading{
        margin-top: 25px;
        font-weight: 400;
    }

    .main{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 20px;
        font-weight: 300;
        font-size: 18px;
        input{
            align-items: center;
            width: 50%;
            padding: 10px 20px;
            margin: 15px 20px;
            border: none;
            outline: none;
            font-size: 16px;
        }
        button{
            padding: 10px 20px;
            margin: 5px ;
            outline: none;
            border: none;
            border-radius: 0.5rem;
            font-size: 16px;
            letter-spacing: 2px;

            &:hover{
                background-color: #8b8686a2;
                color: #fff;
                border: 2px solid #fff;
            }

        }
        textarea{
            width: 50%;
            padding: 10px 20px;
            margin: 20px;
            font-size: 18px;
            font-weight: 600;
        }
    }
}